.card {
    background-color: var(--white);
    border-radius: 12px;
    width: min-content;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
    padding: 36px 32px;
}

.button-primary {
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    color: var(--white);
    background-color: var(--blue);
}