.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    background-color: var(--white);
    border-radius: 12px;
    width: min-content;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
    padding: 36px 32px;
}

.card > span {
    font-size: 0.75rem;
    color: var(--light-gray);
    font-weight: 500;
    letter-spacing: -0.42px;
}

.card > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card > div > h1 {
    font-size: 1.125rem;
    color: var(--dark-gray);
    font-weight: 500;
    letter-spacing: -0.63px;
}

.card > div > p {
    font-size: 0.625rem;
    color: var(--gray);
    font-weight: 500;
    letter-spacing: -0.35px;
}

.button-primary {
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    color: var(--white);
    background-color: var(--blue);
    font-size: 0.75rem;
    font-family: "Noto sans", sans-serif;
    font-weight: 500;
    letter-spacing: -0.42px;
}

.image-uploader-container {
    position: relative;
    width: 338px;
    height: 220px;
    border: 1px dashed var(--light-blue);
    border-radius: 12px;
    background-color: var(--blueish-white);
}

.image-uploader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

.image-uploader::-webkit-file-upload-button {
    opacity: 0;
    z-index: 9998;
    height: 100%;
    width: 100%;
}

.image-uploader-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    font-size: 0.75rem;
    color: var(--light-gray);
    letter-spacing: -0.42px;
    font-weight: 500;
}

.image-uploader-container > div > img {
    width: 115px;
    height: 89px;
}